#table {
  width: 95%;
  margin: 20px auto;
}

.missionInfo p {
  font-weight: bold;
}

.memberInfo,
.joinButton {
  vertical-align: middle;
}

.memberInfo button,
.joinButton button {
  display: block;
  margin: auto;
}

.memberInfo button {
  padding: 0 3px;
}

.statusSection {
  width: 165px;
}